body {
  padding: 40px;
  background: hsl(35, 60%, 70%);
  color: hsl(30, 10%, 20%);
  font: 18px/24px Buenard, Georgia, serif;
}

a {
  color: hsl(30, 90%, 35%);
}

a:visited {
  color: hsl(30, 90%, 25%);
}

a:hover {
  color: hsl(30, 90%, 45%);
}

h1, h2, h3, h4 {
  font-family: Metamorphous, serif;
  color: hsl(30, 90%, 25%);
  text-shadow: hsl(45, 50%, 80%) 0 1px,
               hsl(35, 10%, 60%) 0 -1px;
}

h1 {
  font-size: 48px;
  margin: 40px 0;
}

h2 {
  font-size: 24px;
  margin: 30px 0 10px 0;
}

h3 {
  color: hsl(30, 50%, 35%);
  font-size: 18px;
  margin: 30px 0 -10px 0;
  text-shadow: none;
}

p {
  margin: 16px 0;
}

code {
  font: 16px/16px monospace;
  color: hsl(30, 20%, 30%);
  background: hsl(30, 20%, 66%);
  padding: 0 4px;
  border-radius: 2px;
  border-bottom: solid 1px hsl(35, 10%, 50%);
}

table {
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}

td {
  padding: 2px 6px;
  vertical-align: top;
}

thead td {
  font-size: 13px;
  color: #8a663f;
}

.bar {
  display: inline-block;
  background: #832;
  height: 12px;
}

.r {
  text-align: right;
}

.page {
  width: 900px;
  margin: 0 auto;
}

article {
  width: 660px;
}

nav {
  width: 200px;
  padding-top: 60px;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0 0 0 20px;
}

nav a {
  text-decoration: none;
}

pre, code.term {
  font: 14px/14px monospace;
  background-color: #000;
  letter-spacing: 1px;
  padding: 2px 4px;
  border-radius: 2px;
}

pre code {
  color: #ccc;
  background: none;
  padding: 0;
  border: none;
}

pre .k  { color: #000; }
pre .w  { color: #fff; }
pre .le { color: rgb(192, 192, 192); }
pre .e  { color: rgb(128, 128, 128); }
pre .de { color: rgb(64, 64, 64); }
pre .lr { color: rgb(255, 160, 160); }
pre .r  { color: rgb(220, 0, 0); }
pre .dr { color: rgb(100, 0, 0); }
pre .lo { color: rgb(255, 200, 170); }
pre .o  { color: rgb(255, 128, 0); }
pre .do { color: rgb(128, 64, 0); }
pre .ld { color: rgb(255, 230, 150); }
pre .d  { color: rgb(255, 192, 0); }
pre .dd { color: rgb(128, 96, 0); }
pre .ly { color: rgb(255, 255, 150); }
pre .y  { color: rgb(255, 255, 0); }
pre .dy { color: rgb(128, 128, 0); }
pre .lg { color: rgb(130, 255, 90); }
pre .g  { color: rgb(0, 200, 0); }
pre .dg { color: rgb(0, 100, 0); }
pre .la { color: rgb(200, 255, 255); }
pre .a  { color: rgb(0, 255, 255); }
pre .da { color: rgb(0, 128, 128); }
pre .lb { color: rgb(128, 160, 255); }
pre .b  { color: rgb(0, 64, 255); }
pre .db { color: rgb(0, 37, 168); }
pre .lp { color: rgb(200, 140, 255); }
pre .p  { color: rgb(128, 0, 255); }
pre .dp { color: rgb(64, 0, 128); }
pre .ln { color: rgb(190, 150, 100); }
pre .n  { color: rgb(160, 110, 60); }
pre .dn { color: rgb(100, 64, 32); }

pre .bk  { background-color: #000; }
pre .bw  { background-color: #fff; }
pre .ble { background-color: rgb(192, 192, 192); }
pre .be  { background-color: rgb(128, 128, 128); }
pre .bde { background-color: rgb(48, 48, 48); }
pre .blr { background-color: rgb(255, 160, 160); }
pre .br  { background-color: rgb(220, 0, 0); }
pre .bdr { background-color: rgb(100, 0, 0); }
pre .blo { background-color: rgb(255, 200, 170); }
pre .bo  { background-color: rgb(255, 128, 0); }
pre .bdo { background-color: rgb(128, 64, 0); }
pre .bld { background-color: rgb(255, 230, 150); }
pre .bd  { background-color: rgb(255, 192, 0); }
pre .bdd { background-color: rgb(128, 96, 0); }
pre .bly { background-color: rgb(255, 255, 150); }
pre .by  { background-color: rgb(255, 255, 0); }
pre .bdy { background-color: rgb(128, 128, 0); }
pre .blg { background-color: rgb(130, 255, 90); }
pre .bg  { background-color: rgb(0, 200, 0); }
pre .bdg { background-color: rgb(0, 100, 0); }
pre .bla { background-color: rgb(200, 255, 255); }
pre .ba  { background-color: rgb(0, 255, 255); }
pre .bda { background-color: rgb(0, 128, 128); }
pre .blb { background-color: rgb(128, 160, 255); }
pre .bb  { background-color: rgb(0, 64, 255); }
pre .bdb { background-color: rgb(0, 37, 168); }
pre .blp { background-color: rgb(200, 140, 255); }
pre .bp  { background-color: rgb(128, 0, 255); }
pre .bdp { background-color: rgb(64, 0, 128); }
pre .bln { background-color: rgb(190, 150, 100); }
pre .bn  { background-color: rgb(160, 110, 60); }
pre .bdn { background-color: rgb(100, 64, 32); }